html, body
{
  -webkit-font-smoothing: antialiased;
  height:100%;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

body
{

}

.no-padding
{
  padding:0px;
}

a:hover
{
  text-decoration: none;
}

p
{
  margin-bottom: 0px;
}


.visible
{
  color:#000 !important;
}

.navbar
{
  background:transparent;
  border-bottom:none;
  box-shadow:none;
  border:none;
  z-index:99999;
}

.navbar .container-fluid
{
  padding-left:25px;
  padding-right: 25px;
}

.navbar-nav>li>a {
  font-size:13px;
  font-weight: bold;
  color: #fff;
}


.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height:80px;
    padding:31px 15px;
}

.navbar-brand img
{
  margin:auto;
}

.navbar-default .navbar-nav>li>a
{
  color:#fff;
}

.navbar-default .navbar-nav>li>a:hover
{
  color:rgba(255,255,255,0.4);
}

.navbar-default .navbar-nav>li>a:focus
{
  color:rgba(255,255,255,1);
}

.navbar-nav>li>a {
  padding-top: 30px;
  padding-bottom: 30px;
  line-height: 20px;
  color:#fff;
}


.home-frame
{
  padding: 180px 44px 90px 44px;
}

.home-block
{
  background:#050505;
  position:fixed;
  top:45px;
  left:45px;
  padding:22px 22px;
  width:69px;
  height:69px;
  z-index:99;
  color:#fff;
  font-size:13px;
  display:block !important;
}

.stockflare-block
{
  position:fixed;
  top:45px;
  right:45px;
  z-index:99;
  display:block !important;
}



.menu {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 69px;
    height: 69px;
    background:#050505;
    color:#fff;
    font-size:13px;
}

.menu .home
{
  color:#fff;
  padding:26px 27px;
  display: block;
}

.home:hover
{
  padding:26px 25px;
}

.home .fa-home
{
  font-size: 22px;
  color: #fff;
}

.menu .home:hover .fa-home
{
  display:block;
}

.menu .home:hover .fa-bars
{
  display: none;
}

.menu .home .fa-home
{
  display:none;
}

.menu a:hover
{
  color:rgba(255,255,255,0.7);
}

.menu a:active
{
  color:#fff;
}

.twitter, .facebook {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    font-size:13px;
    color:#fff;
    transition: all 0.2s ease-out;
}

.twitter {
    background: #55ACEE;
    padding:22px;
    color:#fff;
}

.facebook {
    background: #0099ED;
    padding:19px 26px;
    color:#fff;
}

.menu:hover .twitter {
    left: 100%;
}

.menu:hover .facebook {
    top: 100%;
}

.overflow
{
  overflow: hidden;
}



/* START OF HOMEPAGE STYLES */

.company-list
{
  padding-bottom:60px;
  padding-right:0px;

}

.company-list ul
{
  list-style: none;
  margin:0px;
  padding:0px;
}

.company-list ul a li
{
  width:20%;
  padding-bottom:20%;
  display:block;
  float:left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* START OF FRAME STYLES */

.first-frame
{
  height:100%;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: table;
}

.second-frame
{
  background-color:#fff;
}

.third-frame
{
  color:#fff;
}

.third-frame p
{
  font-weight: 500;
  opacity:0.7;
  color:#fff;

}

.view-full
{
  background-color:#07a3ee;
  padding-top:90px;
  padding-bottom:79px;
}

.tweet
{
  background-color:#55ACEE;
  padding-top:90px;
  padding-bottom:79px;
}

.love
{
  padding-top:100px;
  padding-bottom:100px;
  overflow: hidden;
  cursor: pointer;
}


.row-fluid
{
  height: 100%;
  display:table-cell;
  vertical-align: middle;
}

.center
{
  float:none;
  margin:0 auto;
}

.stars .fa-star
{
  margin-right:5px;
  color:#fff;
  margin-bottom:10px;
  font-size: 40px;
}



h1
{
  font-weight:bold;
  margin-bottom:20px;
  margin-top:10px;
  font-family: "proxima-nova",sans-serif;
  font-size: 87px;
  color: #FFFFFF;
  font-weight: 900;
  text-transform: uppercase;
}

h2
{
  font-weight:900;
  color: #FFFFFF;
  font-family: "proxima-nova",sans-serif;
  font-size: 87px;
  line-height: 104px;
}


h3
{

  font-size: 30px;
  line-height: 45px;
  font-weight:300;
  margin-bottom:10px;
}

h4
{
  opacity: 0.7;
  font-weight: bold;
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0.85px;
  line-height: 15px;
  font-family: "proxima-nova",sans-serif;
}

h5
{
  font-weight:900;
  color: #FFFFFF;
  font-family: "proxima-nova",sans-serif;
  font-size: 34px;
  text-transform: uppercase;
}

.sub-text
{
  font-size: 16px;
  color: #B7B7B7;
  line-height: 32px;
  font-weight: 400;
  padding-bottom: 30px;
}

.home-frame h3
{
  margin-bottom: 30px;
}

.pricing
{
  background:#fff;
  padding: 8px 15px;
  display:inline;
}

.title
{
  padding:130px 130px;
  border-bottom: 1px solid #eee;
}

.title img
{
  float:left;
  height:100%;
  margin-right:30px;
}

.Yahoo
{
  background-color:#612fcc;
}

.yahoo_bg
{
  background-image:url('/images/yahoo.png');
}

.Mcdonalds
{
  background-color:#ffcf33;
}

.mcdonalds_text
{
  color:#DBA800;
}

.mcdonalds_bg
{
  background-image:url('/images/mcdonalds.png');
}

.mcdonalds_menu
{
  background-image:url('/images/mcdonalds-menu.png');
}

/* NETFLIX START */

.Netflix
{
  background-color:#B9090B;
}

.netflix_bg
{
  background-image:url('/images/netflix.png');
}

.netflix_text
{
  color:#B9090B;
}

.netflix_menu
{
  background-image:url('/images/netflix-menu.png');
}

/* NETFLIX END */


/* YAHOO START */

.Yahoo
{
  background-color:#3b0098;
}

.yahoo_bg
{
  background-image:url('/images/yahoo.png');
}

.yahoo_text
{
  color:#3b0098;
}

.yahoo_menu
{
  background-image:url('/images/yahoo-menu.png');
}

/* YAHOO END */

/* APPLE START */

.Apple
{
  background-color:#060606;
}

.apple_bg
{
  background-image:url('/images/apple.png');
}

.apple_text
{
  color:#060606;
}

.apple_menu
{
  background-image:url('/images/apple-menu.png');
}

/* APPLE END */

/* AMAZON START */

.Amazon
{
  background-color:#f49900;
}

.amazon_bg
{
  background-image:url('/images/amazon.png');
}

.amazon_text
{
  color:#f49900;
}

.amazon_menu
{
  background-image:url('/images/amazon-menu.png');
}

/* AMAZON END */

/* FACEBOOK START */

.Facebook
{
  background-color:#455b95;
}

.facebook_bg
{
  background-image:url('/images/facebook.png');
}

.facebook_text
{
  color:#455b95;
}

.facebook_menu
{
  background-image:url('/images/facebook-menu.gif');
}

/* FACEBOOK END */

/* GOOGLE START */

.Google
{
  background-color:#4585f1;
}

.google_bg
{
  background-image:url('/images/google.jpg');
}

.google_text
{
  color:#4585f1;
}

.google_menu
{
  background-image:url('/images/google-menu.png');
}

/* GOOGLE END */

/* FORD START */

.Ford
{
  background-color:#022d67;
}

.ford_bg
{
  background-image:url('/images/ford.jpg');
}

.ford_text
{
  color:#022d67;
}

.ford_menu
{
  background-image:url('/images/ford-menu.png');
}

/* FORD END */

/* GOPRO START */

.Gopro
{
  background-color:#0e0e0e;
}

.gopro_bg
{
  background-image:url('/images/gopro.jpg');
}

.gopro_text
{
  color:#0e0e0e;
}

.gopro_menu
{
  background-image:url('/images/gopro-menu.png');
}

/* GOPRO END */

/* LINKEDIN START */

.Linkedin
{
  background-color:#1272b7;
}

.linkedin_bg
{
  background-image:url('/images/linkedin.jpg');
}

.linkedin_text
{
  color:#1272b7;
}

.linkedin_menu
{
  background-image:url('/images/linkedin-menu.png');
}

/* LINKEDIN END */

/* BLIZZARD START */

.Activision
{
  background-color:#2b2b2b;
}

.activision_bg
{
  background-image:url('/images/activision.jpg');
}

.activision_text
{
  color:#2b2b2b;
}

.activision_menu
{
  background-image:url('/images/activison-menu.png');
}

/* GOOGLE END */

/* DISNEY START */

.Disney
{
  background-color:#024e9b;
}

.disney_bg
{
  background-image:url('/images/disney.png');
}

.disney_text
{
  color:#024e9b;
}

.disney_menu
{
  background-image:url('/images/disney-menu.gif');
}

/* DISNEY END */


.Tesla
{
  background-color:#d1000e;
}

.tesla_text
{
  color:#d1000e;
}

.tesla_bg
{
  background-image:url('/images/tesla.png');
}

.tesla_menu
{
  background-image:url('/images/tesla-menu.jpg');
}

.Microsoft
{
  background-color:#00afea;
}

.microsoft_text
{
  color:#00afea;
}

.microsoft_bg
{
  background-image:url('/images/microsoft.png');
}

.microsoft_menu
{
  background-image:url('/images/microsoft_animated.gif');
}


.Starbucks
{
  background-color: #007042;
}

.starbucks_text
{
  color:#007042;
}

.starbucks_bg
{
  background-image:url('/images/starbucks.png');
}

.starbucks_menu
{
  background-image:url('/images/starbucks_animated.gif');
}



#news
{
  list-style: none;
  margin:0px;
  padding:0px;
}

.feedburnerFeedBlock ul
{
  padding: 0px;
  margin: 0px;
}



#news li
{
  padding: 60px;
  overflow: hidden;
  font-size: 17px;
  color: #8A8A8A;
  cursor: pointer;
  width: 33.3%;
  float: left;
  height: 550px;
}

.feedburnerFeedBlock ul li:nth-child(odd)
{
  background:#fcfcfc;
}


#news li .headline a
{
  font-weight: 300;
  margin-bottom: 5px;
  display: block;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 26px;
  color: #232323;
  line-height: 40px;
  text-decoration: none;
}

#news .date
{
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 400;
  color: #D5D5D5;
}

.modal-dialog
{
  border-radius: 20px;
}

.modal-content
{
  border: none;
  box-shadow: none;
  border-radius: 8px;
  overflow: hidden;
  padding: 20px;
}


.mailchimp-h2
{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500 !important;
  font-size: 26px !important;
  line-height: normal;
  color:#000;
}

.mailchimp-p
{
  font-size: 16px !important;
  color:#969696;
  margin-bottom:30px;
}

#mc_embed_signup .button
{
  height:40px !important;
  background-color: #3D96FC !important;
}

/* END OF MENU OVERLAY STYLES */


/* START OF RESPONSIVE STYLES */

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 520px) {

  h1
  {
    font-size:40px;
  }

  h2
  {
    font-size:40px;
    margin-bottom:0px;
    line-height: 64px;
  }

  .menu
  {
    top:0;
    left:0;
  }

  .twitter
  {
    left:100%;
  }

  .facebook
  {
    left:200%;
  }

  .home-block-bars:hover ~ .twitter-block
  {
    left:69px;
  }

  .home-block-bars:hover ~ .facebook-block
  {
    top:69px;
  }

  .first-frame
  {
    background-image:none;
    max-width: 100%;
    padding-top:60px;
  }

  .modal-dialog
  {
    margin: 80px auto;
  }

  #news li
  {
    width: 100%;
  }

  .company-list ul a li
  {
    width:100%;
    height:350px;
  }

  .img-responsive
  {
    width: 100%;
  }

  .title
  {
    padding:50px;
  }


/* Styles */
}

@media only screen and (device-width: 768px) {
  #news li
  {
    width: 100%;
  }

  .menu
  {
    top:0;
    left:0;
  }

  .twitter
  {
    left:100%;
  }

  .facebook
  {
    left:200%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  #news li
  {
    width: 100%;
  }
  .menu
  {
    top:0;
    left:0;
  }

  .twitter
  {
    left:100%;
  }

  .facebook
  {
    left:200%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  #news li
  {
    width: 100%;
  }
  .menu
  {
    top:0;
    left:0;
  }

  .twitter
  {
    left:100%;
  }

  .facebook
  {
    left:200%;
  }
}
