<!DOCTYPE html>
<html>


	{% include head.html %}

	<body>
      

      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->

          {% if page.layout == 'home' %}
            <a href="/" id="menu-overlay-button" class="home-block"><img src="/images/logo.png"/></a>
          {% else %}
            <a href="/" id="menu-overlay-button" class="home-block-bars"><i class="fa fa-bars fa-lg"></i></a>
            <a href="/" id="menu-overlay-button" class="twitter-block"><i class="fa fa-twitter fa-2x"></i></a>
            <a href="/" id="menu-overlay-button" class="facebook-block"><i class="fa fa-facebook-official fa-2x"></i></a>
          {% endif %}
      </div>
    </nav>


		<div class="container-fluid home-frame">
			  <div class="row">
		      <div class="col-md-7">
		        <h3>
		          MYCO. by Stockflare features some of the best loved brands in the world.
		        </h3>
		        <span class="sub-text">With MYCO. by Stockflare, explore the stock market using famous brands! Get a taste of stock market life using our simple data, which we deliver for free on any brand and company in the world. </span>
		      </div>
		    </div>
		</div>

		<div class="container-fluid no-padding overflow">
			<div class="row">
					<div class="col-md-12 company-list">
		        <ul>
		          <a href="/mcdonalds">
		            <li class="mcdonalds_menu"></li>
		          </a>
		          <a href="/starbucks">
		            <li class="starbucks_menu"></li>
		          </a>
		          <a href="/tesla">
		            <li class="tesla_menu"></li>
		          </a>
		          <a href="/microsoft">
		            <li class="microsoft_menu"></li>
		          </a>
		          <a href="/netflix">
		            <li class="netflix_menu"></li>
		          </a>
		         	<a href="/yahoo">
		            <li class="yahoo_menu"></li>
		          </a>
		         	<a href="/apple">
		            <li class="apple_menu"></li>
		          </a>
		         	<a href="/facebook">
		            <li class="facebook_menu"></li>
		          </a>
		         	<a href="/amazon">
		            <li class="amazon_menu"></li>
		          </a>
		          <a href="/disney">
		            <li class="disney_menu"></li>
		          </a>
		          <a href="/google">
		            <li class="google_menu"></li>
		          </a>
		         	<a href="/activision">
		            <li class="activision_menu"></li>
		          </a>
		          <a href="/ford">
		            <li class="ford_menu"></li>
		          </a>
		          <a href="/gopro">
		            <li class="gopro_menu"></li>
		          </a>
		          <a href="/linkedin">
		            <li class="linkedin_menu"></li>
		          </a>
		        </ul>
		      </div>
			</div>
		</div>
{% include footer.html %}
	</body>
</html>
